*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    width:100%;
}

/* header section style */
header{
    background-color: #1A0B2E;
    /* background: url("./assets/hero-bg.png"); */
    background-repeat: no-repeat;
}
nav{
    max-width:1600px;
    display:flex;
    justify-content: space-around;
    padding:16px 200px;
    align-items: center;
    background-color: #1A0B2E;
}
.logo{
    max-width: 219px;
}
nav .menu{
    display:flex;
    gap:32px;
    list-style-type: none;
    max-width:219px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#FFFFFF;
    line-height:120%;
    margin-bottom:36px;
}
.btn{
/* background-color:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); */
background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
color:#FFFFFF;
max-width: 135px;
border:none;
border-radius: 10000px;
font-size: 16px;
font-weight: 600;
padding:12px 16px;
cursor:pointer;
}
.btn-img{
    margin-bottom: -5px;
    gap:4px;
}
.hamburger{
    display:none;
}
.nav-hr{
    border:1px solid #E5E7EB;
    opacity:0.1;
    /* margin-bottom: 100px; */
}

/* banner section style */
.banner-parent{
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
    height:760px;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    position:relative;
}
.banner-images{
    background-image: url("./assets/hero-circle.png");
    background-position: center;
    background-size: cover;
    display:flex;
    margin:0 auto;
    width:350px;
    height:350px;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
    margin-bottom: 40px;
    position: relative;
    /* display:block; */
    /* margin-right: 1px; */

}
.banner-images button{
    position:absolute;
    right:10px;
    top:50px;
}
.img-3{
   height:200px;
/* width:200px; */
}
.banner-content{
    max-width: 550px;
    margin:0 auto;
    /* text-align: center; */
}
.banner-heading{
    font-size: 60px;
    font-weight: 800;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 8px;
}
.banner-para{
    font-size:16px;
    line-height: 19px;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 24px;
}
.banner-btn{
    gap:8px;
    margin: 0 auto;
    align-items: center;
    
}
.btn-1{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color:white;
    padding:12px 20px;
    max-width:201px;
    font-size: 16px;
    font-weight: 600;
    border:none;
    border-radius:10000px;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 0px;
    cursor: pointer;
}
.btn-2{
    background-color: transparent;
    color:#00FF88;
    max-width:147px;
    font-size: 16px;
    font-weight: 600px;
    border:1px solid #00FF88;
    border-radius: 10000px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:12px 20px;
    cursor: pointer;
}
.subscribe{
    margin-bottom: -1px;
}
#new{
    max-width:75px;
    background-color: #00FF88;
    color:#1A0B2E;
    border:1px solid #000000;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    padding:8px 16px;
    margin-left:850px;
    margin-top:-30px;
    animation: pulse 3s ease-in-out 1s infinite alternate;
    /* position:absolute; */
}
@keyframes pulse{
    from{
        right:0;
    }
    to{
        right:10px;
    }
}

/* about section style */
.about-parent{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin:0 auto;
    padding:50px 200px 100px 200px;
}
.about-content{
    width:1200px;
    text-align: center;
}
.about-heading{
    font-size: 48px;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.first-para{
    font-size: 16px;
    line-height: 20px;
    color:#FFFFFF;
    margin-bottom: 80px;
}
.about-hr{
    border:1px solid #E5E7EB;
    opacity:0.1;
    margin-bottom: 80px;
}
.card-parent{
    width:1200px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:80px;
}
.card-heading{
 font-size: 48px;
 color:#00FF88;
 text-align: center;
 margin-bottom: 16px;
}
.card-para{
font-size: 16px;
color:#FFFFFF;
line-height: 20px;
text-align: center;
}

/* why choose techwave section style */
.techwave-parent{
    /* max-width:1200px; */
    padding:120px 200px;
    /* grid-template-rows: repeat(3, 200px); */
    background-color: #230E3D;
}
.tech-heading{
    font-size: 48px;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 40px;
    /* margin-top: -120px; */
}
.tech-card-parent{
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: rgba(53, 17, 101, 0.4); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px;
}
.tech-card-1{
    grid-row:span 2;
    grid-column: span 1;
    padding:40px;
    max-width:380px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.tech-card-2{
    grid-column: span 2;
    grid-row: span 1;
    padding:40px;
    max-width: 790px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.tech-card-3{
    grid-column: span 2;
    grid-row: span 1;
    padding:40px;
    max-width: 790px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.tech-card-4{
    grid-column: span 2;
    grid-row:span 1;
    padding:40px;
    max-width: 790px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.tech-card-5{
    grid-column: span 1;
    grid-row:span 1;
    padding:40px;
    max-width: 380px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.tech-heading-2{
    font-size: 24px;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.tech-para{
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin-bottom: 40px;
}
.tech-img img{
    width:60px;
    height:60px;
    margin-bottom:16px;
}


/* features episode section */
.features-parent{
    background-color: #1A0B2E;
    max-width:1600px;
    /* width:100%; */
    margin:0 auto;
    /* -bottom:120px; */
    /* padding:120px 200px; */
}
.youtube-video{
    border-radius: 24px;
}
/* .features-content{
    max-width:1200px;
    text-align: center;
} */
.features-heading{
    font-size: 48px;
    color:#FFFFFF;
    padding-top:100px;
    margin-bottom: 40px;
    text-align: center;
}
.features-card-parent{
    max-width:1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    /* margin-bottom: 120px; */
}
.features-card{
    max-width:380px;
    /* display:flex; */
    /* flex-direction: column; */
    gap:30px;
    background-color: #250D44;
    border-radius: 24px;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /* padding-top:10px; */
    /* margin-bottom: 120px; */
    /* justify-content: center; */
    /* align-items: center; */
}
.features-details{
    padding:24px;
}
.features-card img{
    width:40px;
    height:40px;
}
.features-card-heading{
    font-size: 24px;
    color:#FFFFFF;
    margin-bottom: 12px;
}
.features-para{
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin-bottom: 12px;
}
.min-para{
    font-size: 16px;
    line-height: 24px;
    color:#00FF88;
}
#clock-img{
    width:20px;
    height:20px;
    margin-bottom:-5px;
}

/* meet the host section style */
.host-parent{
    background-color: #1A0B2E;
    display:flex;
    flex-direction: column;
    width:100%;
    /* padding-top: 120px; */
    /* max-width: 1600px; */
    /* justify-content: center; */
    align-items: center;
    gap:24px;
    /* margin:0 auto; */
}
.host-heading{
    font-size: 48px;
    color:#FFFFFF;
    /* max-width:1200px; */
    text-align: center;
    margin-top: 120px;
}
.host-content{
    max-width: 1200px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    gap:24px;
    padding: 40px;
    margin-bottom: 120px;
}
.host-info h2{
    font-size: 32px;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.host-info p{
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.icons-parent{
    display: flex;
    gap:8px;
}
.icons{
    width:40px;
    height:40px;
    border-radius:50%;
    border: 1px solid #533C72;
    display:flex;
    justify-content: center;
    align-items: center;
}
.icons-img{
width:20px;
height:20px;
margin: 10px;
}

/* footer section style */
.footer-parent{
    background-image: url("./assets/footer-bg.png");
    background-size: contain;
    background-position: center;
    background-color: #211042;
    background-repeat: no-repeat;
    display:flex;
    gap:32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1600px; */
    height:412px;
}
.footer-content{
    display:flex;
    gap:32px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.last-logo{
    width:410px;
    height:60px;
}
.social-icons{
    display:flex;
    gap:40px;
    justify-content: center;
    align-items: center;
}
.social-icons p{
font-size: 16px;
color:#FFFFFF;
align-items: center;
gap:8px;
}
.last-icon{
    margin-bottom: -4px;
}
#copyright{
    font-size: 16px;
    text-align: center;
    color:#FFFFFF;
}

#hide{
    display:none;
}


/* mobile responsive style */
@media screen and (max-width:576px){
    nav{
    justify-content: space-between;
    padding:12px 20px;
    max-width:550px;
    /* max-width:100%; */
    }
    .logo{
        width:137px;
    }
    nav .menu, nav .btn{
        display:none;
    }
    .hamburger{
        width:24px;
        display:block;
    }

    /* banner responsive */
    .banner-parent{
        background-size: cover;
        background-position: center;
        padding:40px 20px;
        max-width:440px;
        /* height:100vh; */
    }
    .banner-images{
        width:200px;
        height:200px;
        /* margin-bottom:24px; */
    }
    .img-3{
        height:80px;
    }
    #new{
    max-width:70px;
    font-size: 16px;
   }
    .banner-content{
    max-width:100%;
    padding:0 10px;
    }
    .banner-heading{
        font-size: 48px;
    }

    /* about section responsive */
    .about-parent{
    max-width: 570px;
    margin:0 auto;
    padding:40px 20px;
    }
    .about-content{
    width:372px;
    }
    .about-heading{
    font-size: 32px;
    }
    .card-parent{
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
}

/* why choose techwave responsive */
.techwave-parent{
    padding:40px 20px;
}
.tech-heading{
    font-size: 32px;
    margin-bottom: 16px;
}
.tech-card-parent{
width:100%;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap:16px;
}
.tech-card-1, .tech-card-2, .tech-card-3, .tech-card-4, .tech-card-5{
    max-width:400px;
}


/* features episodes responsive */
.features-parent{
padding:40px 20px;
}
.features-heading{
    font-size: 32px;
    padding-top:0;
    margin-bottom: 24px;
}
.features-card-parent{
    width:100%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:16px;
}

/* meet the host responsive */
.host-parent{
padding:0 16px;
}
.host-heading{
    font-size: 32px;
    margin-top: 60px;
}
.host-content{
    flex-direction: column;
    gap:16px;
    padding:24px;
    align-items: center;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.host-image img{
    width:150px;
    height:150px;
}
.host-info h2{
    font-size: 24px;
    margin-bottom: 16px;
}
.icons-parent{
    justify-content: center;
}

/* footer section responsive */
.footer-parent{
    padding:20px 40px;
    gap:24px;
    /* max-width: 440px; */
}
.footer-content{
    width:100%;
    flex-direction: column;
    gap:24px;
}
.last-logo{
    width:219px;
    height: 32px;
}
.social-icons{
    flex-wrap: wrap;
    gap:16px;
}
.social-icons p{
    display:flex;
}
#copyright{
    text-align: center;
}
}
