*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* header section style */
nav{
    max-width:1600px;
    display:flex;
    justify-content: space-around;
    padding:16px 200px;
    align-items: center;
    background-color: #1A0B2E;
}
.logo{
    max-width: 219px;
}
nav .menu{
    display:flex;
    gap:32px;
    list-style-type: none;
    max-width:219px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#FFFFFF;
    line-height:120%;
    margin-bottom:36px;
}
.btn{
/* background-color:linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8); */
background-color: #469165;
color:#FFFFFF;
max-width: 135px;
border:none;
border-radius: 10000px;
font-size: 16px;
font-weight: 600;
padding:12px 16px;
cursor:pointer;
}
.btn-img{
    margin-bottom: -5px;
    gap:4px;
}